
<section class="quiz-body">
  <div class="quiz-questions">
    <ng-container *ngFor="let question of currentQuestion">
          <h3>{{question.question}}</h3>
          <h3>{{calculatedResult.totalCorrectAnswers}}</h3>
  <div class='box animated fadeIn'>
    <form>
    <ng-container *ngFor="let option of question.options; let i = index">
    <input type='radio' name="options" id={{i}} value={{option}} (change)="trackAnswer(question.index,option)">
    <label for={{i}}>{{option}}</label>
    </ng-container>
    </form>
  </div>
      <button type='button' (click)='submitAnswer(question.index)' class='submit-btn'>Submit Answer</button>
  </ng-container>
  </div>
</section>