<div class="uk-section uk-section-primary uk-light">
  <div class="uk-container">

    <h3>Welcome to Quiz Master</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Create an account.</p>
      </div>
      <div>
        <p>Create a quiz template.</p>
      </div>
      <div>
        <p>Administer quiz via quiz link provided for template.</p>
      </div>
    </div>

  </div>
</div>

<div class="uk-container uk-container-expand">
<div class="uk-section">
  <div class="uk-container uk-width-1-3">
<form class="uk-form-stacked" [formGroup]="addQuestionForm">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Add Question</legend>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Add question</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" formControlName="question">
      </div>
    </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Add option</label>
          <div class="uk-form-controls">
            <div class="uk-clearfix">
              <div class="uk-float-left">
            <input class="uk-input" type="text" formControlName="option">
            </div>
            <div class="uk-float-right">
            <button class="uk-button uk-button-info" (click)=addOption() [disabled]="option.errors && (option.pristine || option.untouched)">Add</button>
            </div>
            </div>
            <ul class="uk-list uk-list-bullet uk-list-striped">
              <li *ngFor="let option of options; let i = index">
              <div class="uk-float-left"><span class="uk-badge" *ngIf="option.answer">Answer</span> {{option.value}} </div>
                <div class="uk-float-right">
                  <a href="javascript:;" (click)="markAnswer(i, option.value)" uk-icon="icon: check" class="uk-icon-link uk-margin-small-left"></a>
                  <a href="javascript:;" (click)=removeOption(i) uk-icon="icon: minus-circle" class="uk-icon-link uk-margin-small-right"></a>
                </div>
                </li>
            </ul>
          </div>
        </div>

<button class="uk-button uk-width-1-1 uk-box-shadow-large uk-button-primary" (click)=saveQuestion()>Submit</button>
  </fieldset>
</form>
</div>
</div>
</div>